#logo-acs {
  width: 120px;
}

.card {
  margin-bottom: 25px;
  height: auto;
  min-height: 500px;
}

.card-img-top {
  margin-bottom: 25px;
}

.card-body {
  position: absolute;
  bottom: 0px;

}

.card-text
{
  overflow: hidden;
}
